// -----------Font-----------
$mainFont               : "Source Sans Pro", sans-serif;
$titleFont              : "Lato", "Source Sans Pro", sans-serif;

// -----------Size-----------
$mainFontSize           : 22px;
$mainFontWeight         : 400;
$mainLineHeight         : 1.6;

$desktopWidth           : 1200px;
$smDesktopWidth         : 1024px;
$tableWidth             : 768px;
$smTableWidth           : 640px;
$phoneWidth             : 480px;
$smPhoneWidth           : 320px;

// -----------Color-----------
$defaultColor           : #ffffff;
$mainFontColor          : #73879c;
$subtitleFontColor      : #a3b1bf;
$boldFontColor          : #506a85;

$hoverColor             : #00bc9c;
$hoverLogoColor         : #96a6b6;

$preheadreColor         : #f5f7fa;
$latestSectionColor     : #f2f5f7;
$footerInfoColor        : #2f4052;
$footerBottomColor      : #283645;
$footerForm             : #4e5c6c;
$footerNavColor         : #707e8c;

$borderColor            : #e6e9ed;
$borderButtonColor      : #00a085;
$buttonHover            : #17a78b;

$facebook               : #4668b3;
$google                 : #de5745;
$twitter                : #2fbbed;
$pinterest              : #d94348;
$behance                : #3079ff;
$dribble                : #eb6397;
